* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    height: 590px;

    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin: 1.5rem 0;
    text-transform: uppercase;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
}

button {
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 20px;
    margin-top: 2rem;
    padding: .7rem 1.5rem;
    width: 150px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}


.box {
    padding: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-1 {
    background:hsl(31, 77%, 52%);
}

.box-1 > button {
    color: hsl(31, 77%, 52%);
}

.box-1 > button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

.box-2 {
    background:hsl(184, 100%, 22%);
}

.box-2 > button {
    color: hsl(184, 100%, 22%);
}

.box-2 > button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.box-3 {
    background: hsl(179, 100%, 13%);
}

.box-3 > button {
    color: hsl(179, 100%, 13%);
}

.box-3 > button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

@media (min-width: 768px) {
    section {
        width: 750px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 5rem 4rem 0;
    }

    button {
        margin-top: 7rem;
    }

}